<div class="jumbo">
    <h2>Calendar</h2>
    <div class="calendar">
        <Month @month="January" @month_length=31 @start_day=1></Month>

    </div>
    <LinkTo @route="day" class="button">DAY</LinkTo>
</div>